<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
    <title>Eat Da Burger</title>
</head>
<body>
<div id="page-wrap">
    <table>
        <tr>
            <td colspan="2" align="center">
                <h1>Eat Da Burger!!</h1>
                <img src="/assets/img/burger.png" height="100px"/>
            </td>
        </tr>

        {{{ body }}}

    </table>
</div>
</body>
</html>
